@define-color theme_bright_accent #22DDF2;
@define-color theme_accent #F2E205;
@define-color theme_color #F2CB05;
@define-color theme_dull_accent #8C6A03;
@define-color theme_bg #0D0D0D;
@define-color theme_bg_dark #000000;
@define-color theme_text #FFFFFF;

* {
	font-family: "JetBrainsMono Nerd Font";
}
