@import "/home/collin/.cache/wal/colors-wofi.css";

* {
	font-size: 16px;
	color: white;
}

#window {
	font-family: "Maple Mono";
	background-color: @color0;
	border: 1px solid @color1;
	border-radius: 0px;
}

#input {
	background-color: @color0;
	border-radius: 0px;
	border-color: @color1;
}

#entry:selected {
	background-color: @color1;
	border-left: 2px solid @color1;
	border-right: 2px solid @color1;
	border-top: 2px solid @color1;
	border-bottom: 2px solid @color1;
}
